<nav data-ng-controller="menu as vm"  data-ng-class="{'fs-home': location.path() == '/'}"  class="  fs-menu">
    <h3>MENU</h3>
    <ul class="fs-nav">
        <li class="nav-animation" data-ng-class="vm.isCurrent(r)"
            data-ng-repeat="r in vm.navRoutes">
            <a href="{{r.urlPath}}" data-ng-bind-html="r.config.settings.content" class="fs-nav-link"></a>
        </li>
    </ul>
    <div class="fs-categories">
        <span>WHAT I WRITE ON : </span>
        <ul class="">
            <li ng-repeat="category in vm.categories">
                <a href="categories/{{category.slug}}" ng-bind-html="category.name"  class="fs-nav-link"></a>
                <div ng-bind-html="post.excerpt"></div>
            </li
        </ul>
    </div>
</nav>