/*VARIABLES*/
/*COLORS*/
$journal: #4caf50;
$projects: #00ace6;
$me: #673ab7;
$inspirations: #d45242;
$contact: #ffbd43;
$header: #ff5252;
$alternate-background-theme: rgb(250, 250, 250);
$border-color: rgba(0,0,0,0.1);
$text-color : #333;

/*FONTS*/
$regular-text-font: "Inconsolata";
$pure-text-font: "Georgia, Times, "Times New Roman", serif";
$header-font :  "Londrina Outline", "serif";

/*------------------------------------*/
li {
    list-style-type : none;
}

a, a:hover {
    text-decoration : none;
    color : $text-color;
}