/*VARIABLES*/
/*COLORS*/
$journal: #9ACD32;
$projects: #303F9F;
$me: #AB47BC;
$inspirations: #FF7043;
$contact: #FDD835;
$header: #ff5252;
/*FONTS*/
$regular-text-font: "Inconsolata";
$pure-text-font: "Georgia, Times, "Times New Roman", serif";

/*------------------------------------*/
li {
    list-style-type : none;
}

a {
    text-decoration : none;
}

h1, h2 , h3 , h4 , h5 , h6 {
    color : #ff5252
}