/*VARIABLES*/
/*COLORS*/
$journal: #9ACD32;
$projects: #303F9F;
$me: #AB47BC;
$inspirations: #FF7043;
$contact: #FDD835;
$header: #ff5252;
$alternate-background-theme: rgb(250, 250, 250);
$border-color: rgba(0,0,0,0.1);
$text-color : #333;

/*FONTS*/
$regular-text-font: "Inconsolata";
$pure-text-font: "Georgia, Times, "Times New Roman", serif";
$header-font :  "Londrina Outline", "serif";

/*------------------------------------*/
li {
    list-style-type : none;
}

a, a:hover {
    text-decoration : none;
    color : $text-color;
}