@import 'default';

@keyframes bounce {
    from {
        transform: translateY(0)
    }

    65% {
        transform: translateY(10px)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes show-hide-show {
     0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes hide-show-hide {
     0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes bulb-auto-glow {
     0% {
    color:#fff;
    }
    50% {
        color:#ffd700;
    }
    100% {
        color:#fff;
    }
}