@import 'default';

.fs-home {
    font-family :$regular-text-font;

    .fs-box {
    background: #ffffff;
    position: absolute;
    z-index: -2;
    height: 100%;
    width: 40%;
    left: 0;
    top: 0;
    margin-top: 0;
    font-size : 1.3em;
    padding : 15% 0 0 2%;
    text-align: justify;
    text-justify: inter-word;
    }

    .fs-article-heading {
        text-decoration : underline;
        text-transform: uppercase;
        transition: .75s all linear;

        &:hover {
            background : #009688;
            color : white;
            transition: .75s all linear;
        }
    }
    .fs-last-seen-wrapper {
    margin-top :40px;
    }
    .fs-logo {
        font-size : 8em;
        top :22%;
        left : 17%;
    }
    .fs-header-name {
        font-size : 5em;
        font-family: $header-font;
        color : #222;
        z-index : 1;
        position : absolute;
        top : 40%;
        animation : show-hide-show 3s infinite;

        &.fs-header-name-2 {
         animation : hide-show-hide 3s infinite;
        }
    }
    .fs-home-read-tile {
        padding :10px;
    }
    .fs-home-read-tile-inner { 
        padding :20px;
        min-height : 200px;
    }
}